#topList > div {    
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 10px;
}
#topList > div > div {
    position: absolute;
    display:table;
    width: 100px;
    height: 100px;
}
#topList > div > div > a {
    height:90%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}