#heroList {
    max-width:700px;
    margin-top:20px;
}
#heroList > div {
    display:inline-block;
}
#heroList > div > span.delete {
    position: relative;
    top:-12px;
    right: 23px;
    border:2px solid red;
    background: red;
    width:20px;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}
#heroList > div > span.delete:hover {
    transform: scale(1.1);
    font-weight: bold;
}